# wrangler.toml
name = 'hamusata-f5-si-workers'
main = "src/index.js"
compatibility_date = "2026-02-16"

[assets]
directory = "./public"
binding = "ASSETS"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
